<!DOCTYPE html>
<html>
<head>
	<title>Administrator Tools | CSTA Reminder Service</title>

	<!-- favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" type="text/css" href="/reset.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/admin.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script type="text/javascript">
		// remove a given TA by UID
		function removeTA(uid, name) {
			if (confirm("Are you sure you want to remove " + name + " as a TA?")) {
				// request to delete this TA
				$.post('/deleteTA', { uid: uid })
					.done(function(data) {
						if (!data.err) {
							// refresh current page
							window.location.href = '/admin';
						} else {
							// alert an error
							alert("Unable to remove indicated TA: " + data.err);
						}
					});
			}
		}

		// remove a given letter day by UID
		function removeLetter(uid, letter) {
			if (confirm("Are you sure you want to remove Day " + letter + "?")) {
				// request to delete this letter
				$.post('/deleteLetterDay', { uid: uid })
					.done(function(data) {
						if (!data.err) {
							// refresh current page
							window.location.href = '/admin';
						} else {
							// alert an error
							alert("Unable to remove indicated letter day: " + data.err);
						}
					});
			}
		}

		// remove a given admin by UID
		function removeAdmin(uid, name) {
			if (confirm("Are you sure you want to remove " + name + " as an admin?")) {
				// request to delete this admin
				$.post('/deleteAdmin', { uid: uid })
					.done(function(data) {
						if (!data.err) {
							// refresh current page
							window.location.href = '/admin';
						} else {
							// alert an error
							alert("Unable to remove indicated administrator: " + data.err);
						}
					});
			}
		}
	</script>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/"><i class="leftIcon fas fa-calendar-alt"></i> Hours Schedule</a></li>
			<li><a href="/admin"><i class="leftIcon fas fa-user-shield"></i> Admin Portal</a></li>
			<div style="float:right">
				<li id="authMessage"><a href="#">{{auth.message}}</a></li>
				<li><a href="/logout">Log Out <i class="rightIcon fas fa-sign-out-alt"></i></a></li>
			</div>
		</ul>
	</div>

	<h1>Teaching Assistants</h1>
	<table id="ta-table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Type</th>
		</tr>
		{{#TAs}}
		<tr>
			<td>{{name}}</td>
			<td>{{email}}</td>
			<td>{{phone}}</td>
			<td>{{type}}</td>
			<td><a href="/editTA/{{uid}}"><i class="far fa-edit"></i></a></td>
			<td><button onclick="removeTA({{uid}}, '{{name}}');" class="remove"><i class="fas fa-trash"></i></button></td>
		</tr>
		{{/TAs}}
		
		<!-- post to /newTA to create a new TA user -->
		<form action="/newTA" method="POST">
			<tr>
				<td><input name="name" type="text" placeholder="Name"></td>
				<td><input name="email" type="text" placeholder="Email"></td>
				<td><input name="phone" type="text" placeholder="Phone"></td>
				<td><input name="type" type="text" placeholder="Type"></td>
				<td><button class="new"><i class="fas fa-plus"></i></button></td>
			</tr>
		</form>
	</table>

	<div id="days">
		<h1>Letter Days</h1>
		<table>
			<tr>
				<th>Letter</th>
			</tr>
			{{#letterDays}}
			<tr>
				<td>{{name}}</td>
				<td><button onclick="removeLetter({{uid}}, '{{name}}');" class="remove"><i class="fas fa-trash"></i></button></td>
			</tr>
			{{/letterDays}}

			<!-- post to /newLetterDay to add a new letter day -->
			<form action="/newLetterDay" method="POST">
				<tr>
					<td><input name="letter" class="letterInput" maxlength="1" type="text" placeholder="Letter"></td>
					<td><button class="new"><i class="fas fa-plus"></i></button></td>
				</tr>
			</form>
		</table>
	</div>
	<div id="admins">
		<h1>Administrators</h1>
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
			</tr>
			{{#admins}}
			<tr>
				<td>{{name}}</td>
				<td>{{email}}</td>
				<td><button onclick="removeAdmin({{uid}}, '{{name}}');" class="remove"><i class="fas fa-trash"></i></button></td>
			</tr>
			{{/admins}}

			<!-- post to /newAdmin to add a new administrator -->
			<form action="/newAdmin" method="POST">
				<tr>
					<td><input name="name" type="text" placeholder="Name"></td>
					<td><input name="email" type="text" placeholder="Email"></td>
					<td><button class="new"><i class="fas fa-plus"></i></button></td>
				</tr>
			</form>
		</table>
	</div>
</body>
</html>