@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clearfix:before {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

* {
  font-family: 'Reem Kufi', sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}