
/*
	CSS for scheduler calendar
*/

body {
	background-image: url('/greenway-bg.jpg');
	height: 1050px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

h1 {
	clear: both;
	color: white;
	font-size: 40px;
	text-align: center;
	text-shadow: #000000 2px 0 10px;
}


#toggleMoreInfo {
	padding: 5px;
	margin-bottom: 5px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
}

#toggleMoreInfo:hover {
	cursor: pointer;
	color: #e6e6e6;
}

#moreInfo {
	margin: 10px;
	font-size: 16px;
	color: white;
	text-shadow: #000000 2px 0 10px;
}

#updateAssignments {
	font-size: 16px;
	float:left;
	margin: 10px;
	padding: 8px;
	border: none;
	border-radius: 4px;
	background-color: #e600e6;
	color: white;
}

#updateAssignments:hover {
	background-color: #ff00ff;
	cursor: pointer;
}

.letterDay {
	border: 1px solid #eee;
	width: 133px;
	min-height: 20px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

.letterDay li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	width: 120px;
}

/* align table elements at the top, instead of center */
td {
	vertical-align: top;
}

th {
	font-size: 18px;
	color: white;
	text-shadow: #000000 2px 0 10px;
}

th, td {
	/* make all text non-selectable */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

table {
	margin: auto;
}

li.ta {
	font-size: 14px;
	border-radius: 3px;
}

li.ta:hover {
	cursor: pointer;
}

#masterList {
	border: none;
	background-color: #8c8c8c;
}

.letterDay {
	border-radius: 5px;
}